@import './component/_nav.scss';

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
html {
	font-size: 1vw;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: black;
	background: lighten($color: $color-5, $amount: 40%);
    //@include gradient-bg(3);
}

svg {
	max-width: 100%;
}

a {
	text-decoration: none;
}

