
$color-1: #FB6469; 
$color-2: #EFB38E; 
$color-3: #FBAF36; 
$color-4: #33BAC1; 
$color-5: #556F8E; 
$color-6: #97D4D6; 
$color-7: #A5656A; 
$color-8: #120C3F;

// fonts 
$primary-font: 'Cairo', sans-serif;
$secondary-font: 'Lora', serif;

// animation
$animation-duration: 0.4s;