/* Header */

input.search-field {
  font-weight:500 !important;
  color: rgba(0, 0, 0, 0.15) !important;
  border: 0 !important;
  height: 4.5vh !important;
  padding: 8px 8px 8px 40px !important;
  width: 100px !important;
  background: #f7f7f7 !important;
  transition: background 0.2s, width 0.2s !important;
  border-radius: 5px !important;
  margin: 0 !important;
}

input.search-field:hover {
  background: #ebebeb !important;
}

input.search-field:focus {
  outline: none !important;
  width: 150px !important;
  color: #212121 !important;
}
input.search-field:focus:hover {
  background: #f7f7f7 !important;
}
.search-icon {
  position: absolute !important;
  top: 0 !important;
  padding-left: 10px !important;
  color: rgba(0, 0, 0, 0.5) !important;
}
#btn-visibleColumn {
  border-radius: 25px !important;
  background: #f7f7f7 !important;
}

.btn-group{
  #btnAdd{
    background: lighten($color: blue, $amount: 20%) !important;
    border-radius: 10px 0 0 10px;
  }
  #btnEdit{
    border-radius: 0 0 0 0;
  }
  #btnSave{
    background: lighten($color: lightgray, $amount: 5%) !important;
    border-radius: 0 0 0 0;
  }
  #btnDelete{
    background: lighten($color: red, $amount: 15%) !important;
    border-radius: 0 10px 10px 0;
  }
}

@media only screen and (max-width: 600px) {
  ::placeholder {
    color: transparent !important;
  }

  input.search-field {
    width: 70px !important;
    margin-right: 0px !important;
    padding: 8px 25px !important;
  }
  input.search-field ~ .search-popup {
    width: 1px !important;
    margin-right: 0px !important;
    padding: 8px 25px !important;
  }

  .search-icon {
    top: 0 !important;
    padding-left: 15px !important;
    color: rgba(0, 0, 0, 0.54) !important;
  }

  input.search-field:focus {
    margin-right: 0px !important;
    width: 100px !important;
    padding: 8px 8px 8px 50px !important;
  }
}
