@import '../partial/layout';
@import '../partial/mixins';
@import '../partial/variables'; 

.container-auth{
    width: 100%;
    height: 100%;
    position: relative;
    background: #012a56;//lighten($color: black, $amount: 30);
    padding-top: 10%;
}

.form-auth{
  position:relative;
  height: 100%;
  margin: 0 auto;
  &.signup{
    .cont-form{
      left:52%;
      @include transition(all 0.5s);
    }
  }
}

.cont-info{
  width: 50vw;
  height: 35vh;
  background: #fe686a;
  border-radius: 20px;
  margin: 0 auto;
  display:flex;
  position: relative;
  .info-auth {
    width: calc(50% - 32px);
    margin: 0 auto;
    .content{
      margin-top:25vh;
      text-align:center;
    }
  }
}

.cont-form{
  width:20%;
  height: auto;
  min-height:55%;
  background: white;
  position: absolute;
  top: -50px;
  left: 28%;
  overflow:hidden;
  border-radius:20px;
  z-index:1;
  display:flex;
  padding: 20% 10px 10px 0;
  text-align: center;
  @include transition(all 0.5s);
    .form-login{
      position: absolute;
      top:0;
      left:0;
      margin: 0 auto !important;
      height: 100%;
      width: 100%;
      @include transition(all 0.5s);
    }
    .form-signup{
      position: absolute;
      top:0;
      left:0;
      margin: 0 auto !important;
      height: 100%;
      width: 100%;
      @include transition(all 0.5s);
    }
}
.title-form{
  text-align: center;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

// .input-field {
//   position: relative !important;
//   width: 95% !important;
//   margin: 1vh auto !important;
// }

// .prefix{
//   top: 0 !important;
//   height:48px;
//   box-shadow: inset 0 0 0 1px #b2b2b2 !important;
//   border-radius: 10px 0 0 10px;
//   padding: 7px 0 0 7px;

//   &.active{
//       outline: none !important;
//       box-shadow: inset 0 0 0 2px #fe686a !important;
//       color: #fe686a !important;
//   }
// }


// .outlined {
//   height: 48px !important;
//   box-shadow: inset 0 0 0 1px #b2b2b2 !important;
//   border-radius: 0 10px 10px 0 !important;
//   background: transparent !important;
// }

// .outlined:focus {
//   outline: none !important;
//   box-shadow: inset 0 0 0 2px #fe686a !important;
// }

// label {
//   position: absolute !important; 
//   left: 1.75rem !important; 
//   top: 0.4rem !important;
//   color: grey !important;
//   transition: all .15s ease !important;
//   padding: 0px !important; 
//   font-size: 12px !important;
//   pointer-events: none !important;
//   width: auto !important;
// }

// .outlined + label {
//   background: white !important;
// }

// .outlined:focus + label {
//   color: #fe686a !important;
//   padding: 0 3px !important;
//   top: 0.6rem !important;
// }
