.content-data{
    padding: 20px;
    font-size: 1.5rem !important;
    width: 100%;
    height: 90%;
    .card{
        height: 83vh;
        background: #bdbdbd;
    }
}
#full-width-tabpanel-1 {
    border: solid black 1px;
}
.dx-fileuploader-upload-button {  
    display:none;  
}  
