#text-button-search{
    border-radius: 0%;
}
.scan-sales-card{
    //height: 15vh;
}
.item-sales-card{
    height: calc(90vh - 83px - 83px - 2rem);
}
.note-sales-card{
  //  height: 15vh;
}
.info-sales-card{
    height: calc(90vh - 1rem);
}
