#text-button-search{
    border-radius: 0%;
}
.scan-sales-card{
    //height: 15vh;
}
.item-sales-card{
    height: 62vh;
}
.note-sales-card{
  //  height: 15vh;
}
.info-sales-card{
    height: 88vh;
}